<div class="row">
	<div class="col-md-3">
		<div>
			<a href="#">
				<h5>Back From the Edge </h5>
				<small> James Authur</small><br>
				<a [routerLink]="['/james_authur']" ><img src="img/album_cover/james.jpeg" alt="back from the edge"></a>
			</a>
		</div>
	</div>
	<div class="col-md-3">
		<div>
			<h5>Divide</h5>
			<small> Ed sheeran</small>
			<a [routerLink]="['/divide']"><img src="img/album_cover/divide.jpeg" alt="divide"></a>
		</div>
	</div>
	<div class="col-md-3">
		<div>
			<h5>Made in the A.M </h5>
			<small>One Direction</small>
			<a [routerLink]="['/made']"><img src="img/album_cover/made.jpeg" alt="made in the am"></a>
		</div>
	</div>
	<div class="col-md-3">
		<div>
			<h5>Whispers 2 </h5>
			<small> Passenger</small>
			<a [routerLink]="['/whispers2']"><img src="img/album_cover/Whisper2.jpeg" alt="whispers 2"></a>
		</div>
	</div>
</div>
<div>
  <router-outlet></router-outlet>
</div>

    <!-- 2nd set  -->


<div class="row">
	<div class="col-md-3">
		<div>
			<h5>Speak now</h5>
			<small> Taylor Swift</small>
			<img src="img/album_cover/speak.jpeg" alt="back from the edge">
		</div>
	</div>
	<div class="col-md-3">
		<div>
			<h5>Collage</h5>
			<small>Chainsmokers</small>
			<img src="img/album_cover/collage.jpeg" alt="back from the edge">
		</div>
	</div>
	<div class="col-md-3">
		<div>
			<h5>Bruno mars </h5>
			<small>24k Magic</small>
			<img src="img/album_cover/24k.jpeg" alt="back from the edge">
		</div>
	</div>
	<div class="col-md-3">
		<div>
			<h5>25 </h5>
			<small>Adele</small><br>
			<img src="img/album_cover/25.jpeg" alt="back from the edge">
		</div>
	</div>
</div>

      <!-- 3rd set -->


<div class="row">
	<div class="col-md-3">
		<div>
			<h5>purpose</h5>
			<small> Justin Bieber</small>
			<img src="img/album_cover/purpose.jpeg" alt="back from the edge">
		</div>
	</div>
	<div class="col-md-3">
		<div>
			<h5>DEMI</h5>
			<small>Demi lovato</small>
			<img src="img/album_cover/Demi.jpeg" alt="back from the edge">
		</div>
	</div>
	<div class="col-md-3">
		<div>
			<h5>Four</h5>
			<small>One Direction</small>
			<img src="img/album_cover/four.jpeg" alt="back from the edge">
		</div>
	</div>
	<div class="col-md-3">
		<div>
			<h5>Take me home </h5>
			<small> One Direction</small>
			<img src="img/album_cover/home.jpeg" alt="back from the edge">
		</div>
	</div>
</div>

      <!-- 4th row -->


<div class="row">
	<div class="col-md-3">
		<div>
			<h5>1989</h5>
			<small> Taylor Swift</small>
			<img src="img/album_cover/1989.jpeg" alt="back from the edge">
		</div>
	</div>
	<div class="col-md-3">
		<div>
			<h5>Calm and Chaos</h5>
			<small> James Bay</small>
			<img src="img/album_cover/bay.jpeg" alt="back from the edge">
		</div>
	</div>
	<div class="col-md-3">
		<div>
			<h5> Multiply </h5>
			<small>Ed sheeran</small>
			<img src="img/album_cover/Multiply.jpeg" alt="back from the edge">
		</div>
	</div>
	<div class="col-md-3">
		<div>
			<h5>Midnignt memories</h5>
			<small> One direction</small>
			<img src="img/album_cover/Midnight.jpeg" alt="back from the edge">
		</div>
	</div>
</div>

     <!-- 5th row -->



<div class="row">
	<div class="col-md-3">
		<div>
			<h5>Confident</h5>
			<small>Demi lovato</small>
			<img src="img/album_cover/confident.jpeg" alt="back from the edge">
		</div>
	</div>
	<div class="col-md-3">
		<div>
			<h5>Up all Night</h5>
			<small> One direction</small>
			<img src="img/album_cover/up.jpeg" alt="back from the edge">
		</div>
	</div>
	<div class="col-md-3">
		<div>
			<h5>1000 forms of fear</h5>
			<small>SIA</small><br>
			<img src="img/album_cover/1000.jpeg" alt="back from the edge">
		</div>
	</div>
	<div class="col-md-3">
		<div>
			<h5>Royalty </h5>
			<small> Chris Brown</small>
			<img src="img/album_cover/Royalty.jpeg" alt="back from the edge">
		</div>
	</div>
</div>

<!-- 6th row -->


<div class="row">
	<div class="col-md-3">
		<div>
			<h5>All the litte ligths </h5>
			<small> Passenger</small>
			<img src="img/album_cover/all.jpeg" alt="back from the edge">
		</div>
	</div>
	<div class="col-md-3">
		<div>
			<h5>ANTI</h5>
			<small> Rihanna</small>
			<img src="img/album_cover/anti.jpeg" alt="back from the edge">
		</div>
	</div>
	<div class="col-md-3">
		<div>
			<h5>Beauty behind the Darkness</h5>
			<small>the weekend</small>
			<img src="img/album_cover/beauty.jpeg" alt="beauty behind the madness" width="225" height="225">
		</div>
	</div>
	<div class="col-md-3">
		<div>
			<h5>New Era</h5>
			<small>kiss Daniel</small><br>
			<img src="img/album_cover/new.jpeg" alt="back from the edge" width="225px" height="225">
		</div>
	</div>
</div>


<!-- 7th row -->

<div class="row">
	<div class="col-md-3">
		<div>
			<h5>I told you</h5>
			<small> Tori Lanez</small>
			<img src="img/album_cover/tory.jpeg" alt="i told you" width="225" height="225">
		</div>
	</div>
	<div class="col-md-3">
		<div>
			<h5>In the Lonely hour</h5>
			<small> Sam Smith</small>
			<img src="img/album_cover/in.jpeg" alt="in the lonely hour" width="225" height="225">
		</div>
	</div>
	<div class="col-md-3">
		<div>
			<h5>mind of mine</h5>
			<small>zayn</small><br>
			<img src="img/album_cover/mine.jpeg" alt="mind of mine" width="225" height="225">
		</div>
	</div>
	<div class="col-md-3">
		<div>
			<h5>The human conditions</h5>
			<small> Jon Bellion</small>
			<img src="img/album_cover/human.jpeg" alt="jon bellion" width="225" height="225">
		</div>
	</div>
	
</div>

 <!-- 8th row -->

 <div class="row">
	<div class="col-md-3">
		<div>
			<h5>Native</h5>
			<small> One Republic</small>
			<img src="img/album_cover/native.jpeg" alt="one republic" width="225" height="225">
		</div>
	</div>
	<div class="col-md-3">
		<div>
			<h5>young as the morning old as the sea</h5>
			<small>Passenger</small>
			<img src="img/album_cover/young.jpeg" alt="young as the morning" width="225" height="225">
		</div>
	</div>
	<div class="col-md-3">
		<div>
			<h5>GOLD</h5>
			<small>Adekunle Gold</small>
			<img src="img/album_cover/gold.jpeg" alt="gold" width="225" height="225">
		</div>
	</div>
	<div class="col-md-3">
		<div>
			<h5>Red </h5>
			<small> Taylor Swift</small>
			<img src="img/album_cover/red.jpeg" alt="red">
		</div>
	</div>
</div>

<!-- 9th row -->


<div class="row">
	<div class="col-md-3">
		<div>
			<h5>Rush of blood to the head </h5>
			<small> Coldplay</small>
			<img src="img/album_cover/rush.jpeg" alt="rush of blood" width="225" height="225">
		</div>
	</div>
	<div class="col-md-3">
		<div>
			<h5>some nights</h5>
			<small>Fun</small><br>
			<img src="img/album_cover/some_nights.jpeg" alt="some nights" width="225" height="225">
		</div>
	</div>
	<div class="col-md-3">
		<div>
			<h5>Nothing was the same</h5>
			<small>Drake</small><br>
			<img src="img/album_cover/nothing.jpeg" alt="drake" width="225" height="225">
		</div>
	</div>
	<div class="col-md-3">
		<div>
			<h5>TRUE</h5>
			<small> AVICII</small><br>
			<img src="img/album_cover/true.jpeg" alt="true" width="225" height="225">
		</div>
	</div>
</div>

<!-- 10th row -->


<div class="row">
	<div class="col-md-3">
		<div>
			<h5>Chemistry E.P</h5>
			<small> Falz and simi</small>
			<img src="img/album_cover/chemistry.jpeg" alt="chemistry" width="225" height="225">
		</div>
	</div>
	<div class="col-md-3">
		<div>
			<h5>Wake up</h5>
			<small> the Vamps</small>
			<img src="img/album_cover/wake_up.jpeg" alt="the vamps" width="225" height="225">
		</div>
	</div>
	<div class="col-md-3">
		<div>
			<h5>VIEWS </h5>
			<small>Drake</small><br>
			<img src="img/album_cover/views.jpeg" alt="back from the edge" width="225" height="225">
		</div>
	</div>
	<div class="col-md-3">
		<div>
			<h5>Wilder Mind</h5>
			<small> Mumford and Sons</small>
			<img src="img/album_cover/Wilder.jpeg" alt="mumford and sons" width="225" height="225">
		</div>
	</div>
</div>

<!-- 11th row -->

<div class="row">
	<div class="col-md-3">
		<div>
			<h5>X & Y</h5>
			<small> Coldplay</small>
			<img src="img/album_cover/x&y.jpeg" alt="Coldplay" width="225" height="225">
		</div>
	</div>
	<div class="col-md-3">
		<div>
			<h5>Mylo Xyloto</h5>
			<small>Coldplay</small>
			<img src="img/album_cover/Mylo.jpeg" alt="Coldplay" width="225" height="225">
		</div>
	</div>
	<div class="col-md-3">
		<div>
			<h5>Parachutes</h5>
			<small>Coldplay</small>
			<img src="img/album_cover/para.jpeg" alt="coldplay" width="225" height="225">
		</div>
	</div>
	<div class="col-md-3">
		<div>
			<h5>Lukas Graham</h5>
			<small>Lukas Graham</small>
			<img src="img/album_cover/Lukas.jpeg" alt="lukas graham" height="225" width="225">
		</div>
	</div>
	
</div>

<!-- 12th row -->


<div class="row">
	<div class="col-md-3">
		<div>
			<h5>Vida la vida</h5>
			<small> Coldplay</small>
			<img src="img/album_cover/vida.jpeg" alt="coldplay" width="225" height="225">
		</div>
	</div>
	<div class="col-md-3">
		<div>
			<h5>If i am honest</h5>
			<small> Blake Shelton</small>
			<img src="img/album_cover/blake.jpeg" alt="blake shelton" width="225" height="225">
		</div>
	</div>
	<div class="col-md-3">
		<div>
			<h5>Night Visions  </h5>
			<small>Imagine Dragons</small>
			<img src="img/album_cover/night_visions.jpeg" alt="imagine dragons" width="225" height="225">
		</div>
	</div>
	<div class="col-md-3">
		<div>
			<h5>Smoked + Mirrors</h5>
			<small> Imagie Dragons</small>
			<img src="img/album_cover/smokes.jpeg" alt="imagine dragons" height="225" width="225">
		</div>
	</div>
</div>

 <!-- 13th row -->


 <div class="row">
	
	
	
</div>