<div class="row">
	<div class="col-md-3">
		<div>
			<a href="#">
				<h5>Back From the Edge </h5>
				<small> James Authur</small><br>
				<a [routerLink]="['/james_authur']" ><img src="img/album_cover/james.jpeg" alt="back from the edge"></a>
			</a>
		</div>
	</div>
	<div class="col-md-3">
		<div>
			<h5>Divide</h5>
			<small> Ed sheeran</small>
			<a [routerLink]="['/divide']"><img src="img/album_cover/divide.jpeg" alt="divide"></a>
		</div>
	</div>
	<div class="col-md-3">
		<div>
			<h5>Made in the A.M </h5>
			<small>One Direction</small>
			<a [routerLink]="['/made']"><img src="img/album_cover/made.jpeg" alt="made in the am"></a>
		</div>
	</div>
	<div class="col-md-3">
		<div>
			<h5>Whispers 2 </h5>
			<small> Passenger</small>
			<a [routerLink]="['/whispers2']"><img src="img/album_cover/Whisper2.jpeg" alt="whispers 2"></a>
		</div>
	</div>
</div>
<div>
  <router-outlet></router-outlet>
</div>

    <!-- 2nd set  -->


<div class="row">
	<div class="col-md-3">
		<div>
			<h5>Speak now</h5>
			<small> Taylor Swift</small>
			<img src="img/album_cover/speak.jpeg" alt="back from the edge">
		</div>
	</div>
	<div class="col-md-3">
		<div>
			<h5>Collage</h5>
			<small>Chainsmokers</small>
			<img src="img/album_cover/collage.jpeg" alt="back from the edge">
		</div>
	</div>
	<div class="col-md-3">
		<div>
			<h5>Bruno mars </h5>
			<small>24k Magic</small>
			<img src="img/album_cover/24k.jpeg" alt="back from the edge">
		</div>
	</div>
	<div class="col-md-3">
		<div>
			<h5>25 </h5>
			<small>Adele</small><br>
			<img src="img/album_cover/25.jpeg" alt="back from the edge">
		</div>
	</div>
</div>

      <!-- 3rd set -->


<div class="row">
	<div class="col-md-3">
		<div>
			<h5>purpose</h5>
			<small> Justin Bieber</small>
			<img src="img/album_cover/purpose.jpeg" alt="back from the edge">
		</div>
	</div>
	<div class="col-md-3">
		<div>
			<h5>DEMI</h5>
			<small>Demi lovato</small>
			<img src="img/album_cover/Demi.jpeg" alt="back from the edge">
		</div>
	</div>
	<div class="col-md-3">
		<div>
			<h5>Four</h5>
			<small>One Direction</small>
			<img src="img/album_cover/four.jpeg" alt="back from the edge">
		</div>
	</div>
	<div class="col-md-3">
		<div>
			<h5>Take me home </h5>
			<small> One Direction</small>
			<img src="img/album_cover/home.jpeg" alt="back from the edge">
		</div>
	</div>
</div>

      <!-- 4th row -->


<div class="row">
	<div class="col-md-3">
		<div>
			<h5>1989</h5>
			<small> Taylor Swift</small>
			<img src="img/album_cover/1989.jpeg" alt="back from the edge">
		</div>
	</div>
	<div class="col-md-3">
		<div>
			<h5>Calm and Chaos</h5>
			<small> James Bay</small>
			<img src="img/album_cover/bay.jpeg" alt="back from the edge">
		</div>
	</div>
	<div class="col-md-3">
		<div>
			<h5> Multiply </h5>
			<small>Ed sheeran</small>
			<img src="img/album_cover/Multiply.jpeg" alt="back from the edge">
		</div>
	</div>
	<div class="col-md-3">
		<div>
			<h5>Midnignt memories</h5>
			<small> One direction</small>
			<img src="img/album_cover/Midnight.jpeg" alt="back from the edge">
		</div>
	</div>
</div>

     <!-- 5th row -->



<div class="row">
	<div class="col-md-3">
		<div>
			<h5>Confident</h5>
			<small>Demi lovato</small>
			<img src="img/album_cover/confident.jpeg" alt="back from the edge">
		</div>
	</div>
	<div class="col-md-3">
		<div>
			<h5>Up all Night</h5>
			<small> One direction</small>
			<img src="img/album_cover/up.jpeg" alt="back from the edge">
		</div>
	</div>
	<div class="col-md-3">
		<div>
			<h5>1000 forms of fear</h5>
			<small>SIA</small><br>
			<img src="img/album_cover/1000.jpeg" alt="back from the edge">
		</div>
	</div>
	<div class="col-md-3">
		<div>
			<h5>Royalty </h5>
			<small> Chris Brown</small>
			<img src="img/album_cover/Royalty.jpeg" alt="back from the edge">
		</div>
	</div>
</div>

<!-- 6th row -->


<div class="row">
	<div class="col-md-3">
		<div>
			<h5>All the litte ligths </h5>
			<small> Passenger</small>
			<img src="img/album_cover/all.jpeg" alt="back from the edge">
		</div>
	</div>
	<div class="col-md-3">
		<div>
			<h5>ANTI</h5>
			<small> Rihanna</small>
			<img src="img/album_cover/anti.jpeg" alt="back from the edge">
		</div>
	</div>
	<div class="col-md-3">
		<div>
			<h5>Beauty behind the Darkness</h5>
			<small>the weekend</small>
			<img src="" alt="back from the edge">
		</div>
	</div>
	<div class="col-md-3">
		<div>
			<h5>New Era </h5>
			<small> Kiss Daniel</small>
			<img src="" alt="back from the edge">
		</div>
	</div>
</div>


<!-- 7th row -->

<div class="row">
	<div class="col-md-3">
		<div>
			<h5>I told you</h5>
			<small> Tori Lanez</small>
			<img src="" alt="back from the edge">
		</div>
	</div>
	<div class="col-md-3">
		<div>
			<h5>In the Lonely hour</h5>
			<small> Sam Smith</small>
			<img src="" alt="back from the edge">
		</div>
	</div>
	<div class="col-md-3">
		<div>
			<h5>Illuminate </h5>
			<small>Shawn Mendes</small>
			<img src="" alt="back from the edge">
		</div>
	</div>
	<div class="col-md-3">
		<div>
			<h5>Mind of Mine</h5>
			<small> ZAYN</small>
			<img src="" alt="back from the edge">
		</div>
	</div>
</div>

 <!-- 8th row -->

 <div class="row">
	<div class="col-md-3">
		<div>
			<h5>Nothing was the same</h5>
			<small> Drake</small>
			<img src="" alt="back from the edge">
		</div>
	</div>
	<div class="col-md-3">
		<div>
			<h5>young as the morning<br>Old as the sea</h5>
			<small>Passenger</small>
			<img src="" alt="back from the edge">
		</div>
	</div>
	<div class="col-md-3">
		<div>
			<h5>GOLD</h5>
			<small>Adekunle Gold</small>
			<img src="" alt="back from the edge">
		</div>
	</div>
	<div class="col-md-3">
		<div>
			<h5>Red </h5>
			<small> Taylor Swift</small>
			<img src="" alt="back from the edge">
		</div>
	</div>
</div>

<!-- 9th row -->


<div class="row">
	<div class="col-md-3">
		<div>
			<h5>Rush of blood to the head </h5>
			<small> Coldplay</small>
			<img src="" alt="back from the edge">
		</div>
	</div>
	<div class="col-md-3">
		<div>
			<h5>Some Nights</h5>
			<small> Fun</small>
			<img src="" alt="back from the edge">
		</div>
	</div>
	<div class="col-md-3">
		<div>
			<h5>Nights</h5>
			<small>AVICII</small>
			<img src="" alt="back from the edge">
		</div>
	</div>
	<div class="col-md-3">
		<div>
			<h5>TRUE</h5>
			<small> AVICII</small>
			<img src="" alt="back from the edge">
		</div>
	</div>
</div>

<!-- 10th row -->


<div class="row">
	<div class="col-md-3">
		<div>
			<h5>Chemistry E.P</h5>
			<small> Falz and simi</small>
			<img src="" alt="back from the edge">
		</div>
	</div>
	<div class="col-md-3">
		<div>
			<h5>Wake up</h5>
			<small> the Vamps</small>
			<img src="" alt="back from the edge">
		</div>
	</div>
	<div class="col-md-3">
		<div>
			<h5>VIEWS </h5>
			<small>Drake</small>
			<img src="" alt="back from the edge">
		</div>
	</div>
	<div class="col-md-3">
		<div>
			<h5>Wilder Mind</h5>
			<small> Mumford and Sons</small>
			<img src="" alt="back from the edge">
		</div>
	</div>
</div>

<!-- 11th row -->

<div class="row">
	<div class="col-md-3">
		<div>
			<h5>X & Y</h5>
			<small> Coldplay</small>
			<img src="" alt="back from the edge">
		</div>
	</div>
	<div class="col-md-3">
		<div>
			<h5>Mylo Xyloto</h5>
			<small>Coldplay</small>
			<img src="" alt="back from the edge">
		</div>
	</div>
	<div class="col-md-3">
		<div>
			<h5>Parachutes</h5>
			<small>Coldplay</small>
			<img src="" alt="back from the edge">
		</div>
	</div>
	<div class="col-md-3">
		<div>
			<h5> Prospekt's March </h5>
			<small> Passenger</small>
			<img src="" alt="back from the edge">
		</div>
	</div>
</div>

<!-- 12th row -->


<div class="row">
	<div class="col-md-3">
		<div>
			<h5>Vida la vida</h5>
			<small> Coldplay</small>
			<img src="" alt="back from the edge">
		</div>
	</div>
	<div class="col-md-3">
		<div>
			<h5>If i am honest</h5>
			<small> Blake Shelton</small>
			<img src="" alt="back from the edge">
		</div>
	</div>
	<div class="col-md-3">
		<div>
			<h5>Night Visions  </h5>
			<small>Imagine Dragons</small>
			<img src="" alt="back from the edge">
		</div>
	</div>
	<div class="col-md-3">
		<div>
			<h5>Smoked + Mirrors</h5>
			<small> Imagie Dragons</small>
			<img src="" alt="back from the edge">
		</div>
	</div>
</div>

 <!-- 13th row -->


 <div class="row">
	<div class="col-md-3">
		<div>
			<h5>The Defination </h5>
			<small> Jon Bellion</small>
			<img src="" alt="back from the edge">
		</div>
	</div>
	<div class="col-md-3">
		<div>
			<h5>The human conditions</h5>
			<small> Jon Bellion</small>
			<img src="" alt="back from the edge">
		</div>
	</div>
	<div class="col-md-3">
		<div>
			<h5>Lukas Graham</h5>
			<small>Lukas Graham</small>
			<img src="" alt="back from the edge">
		</div>
	</div>
	<div class="col-md-3">
		<div>
			<h5>Native</h5>
			<small> One Republic</small>
			<img src="" alt="back from the edge">
		</div>
	</div>
</div>